* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  /* Farver */
  --pink-color:#D89F93;
  --white-color:#F3ECE3;
  --red-color:#7A1E2E;
  --black-color: #2c2c2c;
  --light-pink:#ebbbb2;
  --hover-red:#5e1f1f;
  

  /* Hover filter */
  --pink-filter: invert(61%) sepia(18%) saturate(551%) hue-rotate(327deg) brightness(92%) contrast(91%);

  --white-filter: invert(95%) sepia(11%) saturate(434%) hue-rotate(317deg) brightness(103%) contrast(91%);

  --red-filter: invert(16%) sepia(45%) saturate(2634%) hue-rotate(323deg) brightness(93%) contrast(97%);

  --black-filter: invert(8%) sepia(0%) saturate(1011%) hue-rotate(243deg) brightness(102%) contrast(78%);

  --font-family:'Anek Odia', "Inter", Sans-serif;
  --font-size-small:13px;
  --font-size-base:16px;
  --Font-size-medium:18px;
  --font-size-large:20px;
  --font-size-xl:24px;
  --font-size-xxl:28px;
  --font-size-hero-tablet:3rem;
  --font-size-hero-mobile:2.5rem;
  --font-size-hero: 4.5rem;

  /* font weights */
  --font-weight-normal:400;
  --font-weight-medium:500;
  --font-weight-semi-bold:600;
  --font-weight-bold:700;
}

/* start på header og footer */

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--pink-color);
  box-shadow:0 2px 10px rgba(0, 0, 0, 0.1);
  padding:5px 7%;
  display:flex;
  align-items:center;
  justify-content: space-between;
  z-index: 1000;
}

body {
  background-color: var(--white-color);
}

.navbar ul {
  background-color: var(--red-color);
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 200px;
}


.navbar ul li {
  margin: 10px;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-family);
  font-size: var(--font-size-xxl);
  cursor: pointer;
  color: var(--white-color);
  font-weight: var(--font-weight-medium);
  margin-left: 50px;
}
.navbar ul li:hover {
  background-color: var(--hover-red);
  width: 100%;
  color: var(--white-color);
}

.navbar {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 150px;
  align-content: center;
  margin: 10px;
}

#menu-lines {
  display: none;
}

#menu-lines:checked ~ .navbar {
  display: block;
}

.menu-lines-icon:hover {
  filter: var(--red-filter);
  cursor: pointer;
}

#menu-lines:checked + .menu-lines-label > .menu-lines-icon {
  transform: translateX(190px);
}

.menu-lines-icon {
  filter: var(--black-filter);
  margin: 20px;
  width: 40px;
  margin-left: -70px;
}

.logo {
  width: 280px;
  display: flex;
  position: relative;
  margin-right: -150px;
}

.header-icons {
  display: flex;
  align-items: center;
  gap: 0;
  margin-right: -90px;
}

.search-bar {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
}

#search-bar-input {
  display: none;
  position: relative;
  padding: 10px;
  border: none;
  font-size: 20px;
  width: 200px;
  background-color: var(--white-color);
  color: var(--red-color);
  margin: 10px;
  border-radius: 10px;
}

#search-bar-input::placeholder {
  color: var(--red-color);
  font-family: var(--font-family);
  font-weight: var(--Font-size-medium);
}

#search-bar-check {
  display: none;
}

.search-lense {
  margin: 15px;
  width: 40px;
  position: relative;
  filter: var(--black-filter);
}

#search-bar-check:checked ~ #search-bar-input {
  display: block;
}

.search-lense:hover {
  cursor: pointer;
  filter: var(--red-filter);
}

.login-icon {
  margin: 15px;
  filter: var(--black-filter);
}

.black-login {
  width: 40px;
}

.login-icon:hover {
  filter: var(--red-filter);
  cursor: pointer;
}

.checkout-icon {
  margin: 15px;
}

.black-basket {
  width: 35px;
  filter: var(--black-filter);
}

.black-basket:hover {
  filter: var(--red-filter);
  cursor: pointer;
}


footer {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  background-color:var(--pink-color);
  box-shadow:0 2px 10px rgba(0, 0, 0, 0.1);
  padding:15px 7%;
  display:flex;
  align-items:center;
  justify-content: space-between;
  z-index: 1000;
  font-family: var(--font-family);
  color: var(--black-color);
  font-weight: var(--Font-weight-medium);
  font-size: var(--font-size-base);
}


.socials-title {
  margin-left: 45px;
  position: relative;
}

.social-icon-picture {
  width: 50px;
  height: auto;
  margin: 12.5px;
}

.contact-title {
    margin-left: 45px;
  position: relative;
}


.social-icon-picture:hover {
  cursor: pointer;
}

.logo-tp {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-footer {
  width: 230px;
}

.trust-rate {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}

.tp-rating {
  width: 150px;
  margin: 10px;
}

.trust-rate-text {
  font-family: var(--font-family);
  color: var(--black-color);
  font-size: var(--font-size-small);
  margin-top: 10px;
}

/* slut på header og footer */


/* signe ting */

/* Sektioner efter Hero*/


/* Styling af banner */
.section{
 max-width: 1900px;
 margin: 0 auto;
}


.section > h2{
 margin-top: 200px;
 text-align: center;
 font-size: 2rem;
 margin-bottom: 2.5rem;
 font-weight: 600;
 color: var(--black-color);
 letter-spacing: 1.5px;
 padding: 1rem;
 background-color: var(--light-pink);
 font-family: var(--font-family);
}



/* Rækker med billeder + tekst*/
.content-row{
 display: flex;
 justify-content: space-between;
 align-items: center;
 gap: 2rem;
}


.colors .content-row{
 flex-direction: row-reverse;
}




/*Tekstboks*/
.text-box{
 flex: 1;
 background-color: var(--light-pink);
 border-radius: 12px;
 max-width: 420px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 box-shadow: 0 2px 6px rgba(0,0,0,0.08);
 margin: 4rem;
 padding: 3rem;
 font-family: var(--font-family);
}

.text-box h2{
 font-weight: 600;
 margin-bottom: 1rem;
 color: var(--black-color);
 font-family: var(--font-family);
}


.text-box p{
 font-size: 1.4rem;
 font-family: var(--font-family);
 margin-bottom: 1.5rem;
 color: var(--black-color);
}




/* Billeder */
.product-image,
.slide{
 flex: 1;
 display: flex;
 justify-content: center;
 align-items: center;
 border: 1px;
 min-height: 240px;
 border-radius: 6px;
 margin: 4rem;
}


.product-image img{
 max-width: 100%;
 height: auto;
 border-radius: 6px;
 margin: 4rem;
}




/* Knapper*/
.btn{
 background-color: var(--red-color);
color: var(--white-color);
border: none;
padding: 0.9rem 1.8rem;
border-radius: 8px;
cursor: pointer;
font-weight: 600;
align-self: flex-start;
}


.btn:hover{
 background-color: var(--hover-red);
}


/* Ikoner */

.ikon-section{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--white-color);
  padding: 20px 40px;
}

.ikon{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 200px;
  margin: 10px;
}

.ikon img{
  width: 30px;
  height: auto;
  margin-bottom: 10px;
}

.ikon p{
  font-size: 16px;
  font-weight: 600;
  color: var(--black-color);
  font-family: var(--font-family);
}


/* Trustpilot sektionen*/
.tp-a article {
  display: flex;
  padding: 20px;
  margin-top: 100px;
  margin-right: 100px;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 32px;
}

.tph2 {
  display: flex;
  justify-content: center;
  margin-top: 1050px;
  font-size: 50px;
  font-family: "Anek Odia";
  letter-spacing: 8px;
}

.tp-a article > div {
  flex: 1;
  margin-left: 50px;
  display: flex;
}

.lumina-1 {
  font-size: 30px;
  font-weight: 600;
  font-family: "Anek Odia";
  text-align: center;
  color: var(--black-color);
}

.tp {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 32px;
  font-weight: 400;
  font-family: "Inter";
  margin-top: 45px;
  background-color: #FAF6F4;
  border-radius: 24px;
  padding: 24px;
  min-height: 291px;
}

.tp-rate {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin: 70px 0;
}

.and {
  margin: 0;
  text-align: center;
  letter-spacing: 2px;
  font-weight: 400;
  font-family: "Anek Odia";
  font-size: 20px;
  line-height: 1.6;
  margin-top: 20px;
}


/*Liste over specifikationer*/
.liste {
  list-style: disc;
  list-style-position: outside;
  padding-left: 1.5rem;
  margin: 0;
}
.speci-t {
  padding: 8px;
  font-family: "anek odia";
  font-weight: var(--font-weight-semi-bold);
  font-size: 1.6rem;
  margin-left: 40px;
}

.specifikationer {
  padding: 40px 0;
  background-color: #ebbbb2;
}

.speci-a {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  margin: 0 auto;
  max-width: 1200px;
}

.speci-img {
  margin: 0;
  padding-right: 0;
}

.speci {
  transform: none;
}


.speci-l {
  font-size: 1.3rem;
  line-height: 3.4rem;
  font-weight: var(--font-weight-normal);
  font-family: "anek odia";
}

/* hero ting please ikke slet når i merger ;(*/



.hero img{
  display: flex;
  width: 100%;
  position: absolute;
  top: 10%;
  justify-self: start;
  object-fit: cover;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 70%;
  left: 22%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: var(--font-size-xxl);
  font-family: var(--font-family);
}

#herobtn{
 background-color: var(--red-color);
color: var(--white-color);
border: none;
padding: 0.9rem 5.8rem;
border-radius: 8px;
cursor: pointer;
font-weight: 600;
align-self: flex-start;
font-size: var(--Font-size-medium);
}

#herobtn:hover{
 background-color: var(--hover-red);
}