* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  /* Farver */
  --pink-color:#B68B7E;
  --white-color:#F3ECE3;
  --red-color:#7A1E2E;

  /* Hover filter */
  --pink-filter: invert(61%) sepia(18%) saturate(551%) hue-rotate(327deg) brightness(92%) contrast(91%);

  --white-filter: invert(95%) sepia(11%) saturate(434%) hue-rotate(317deg) brightness(103%) contrast(91%);

  --red-filter: invert(16%) sepia(45%) saturate(2634%) hue-rotate(323deg) brightness(93%) contrast(97%);

  --font-family:'Anek Odia', Sans-serif;
  --font-size-small:13px;
  --font-size-base:16px;
  --Font-size-medium:18px;
  --font-size-large:20px;
  --font-size-xl:24px;
  --font-size-xxl:28px;
  --font-size-hero-tablet:3rem;
  --font-size-hero-mobile:2.5rem;
  --font-size-hero: 4.5rem;

  /* font weights */
  --font-weight-normal:400;
  --font-weight-medium:500;
  --font-weight-semi-bold:600;
  --font-weight-bold:700;
}


/* start på header og footer */

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background:var(--pink-color);
  box-shadow:0 2px 10px rgba(0, 0, 0, 0.1);
  padding:15px 7%;
  display:flex;
  align-items:center;
  justify-content: space-between;
  z-index: 1000;
}


.foregrund img {
  max-width: 300px;
  height: auto;
}