* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
font-family: 'Anek Odia', sans-serif;
background-color: #F3ECE3;
color: #7A1E2E;
line-height: 1.6;
}

:root {
  /* Farver */
  --pink-color:#EDC6BE;
  --whtie-color:#F3ECE3;
  --red-color:#7A1E2E;

  /* Hover filter */
  --pink-filter:sepia(0.25) saturate(1.6) hue-rotate(330deg) brightness(1.1) contrast(0.9);

  --white-filter:sepia(0.2) saturate(1.2) brightness(1.05) contrast(0.9);

  --red-filter: grayscale(100%) sepia(60%) hue-rotate(-25deg) saturate(200%) brightness(80%) contrast(90%);

  /* Typografi */
  --font-family:'Anek Odia', Sans-serif;
  --font-size-small:13px;
  --font-size-base:16px;
  --Font-size-medium:18px;
  --font-size-large:20px;
  --font-size-xl:24px;
  --font-size-xxl:28px;
  --font-size-hero-tablet:3rem;
  --font-size-hero-mobile:2.5rem;
  --font-size-hero: 4.5rem;

  /* font weights */
  --font-weight-normal:400;
  --font-weight-medium:500;
  --font-weight-semi-bold:600;
  --font-weight-bold:700;
}

.foregrund{
    position: absolute;
    z-index: 10;
    top: 30%;
    left: 20%;
}

.foregrund img {
  max-width: 300px;
  height: auto;
}


/* Sektioner efter Hero*/

/* Styling af banner */
.section{
  max-width: 1900px;
  margin: 0 auto;
}

.section > h1{
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2.5rem;
  font-weight: 600;
  color: #7A1E2E;
  letter-spacing: 1.5px;
  padding: 1rem;
  background-color: #EDC6BE;
}


/* Rækker med billeder + tekst*/
.content-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.colors .content-row{
  flex-direction: row-reverse;
}


/*Tekstboks*/
.text-box{
  flex: 1;
  background-color: #EDC6BE;
  padding: 4rem;
  border-radius: 12px;
  max-width: 420px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  margin: 4rem;
}

.text-box h2{
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #7A1E2E;
}

.text-box p{
  font-size: 1rem;
  margin-bottom: 1.5rem;
  color: #7A1E2E;
}


/* Billeder */
.product-image,
.slide{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px;
  min-height: 240px;
  border-radius: 6px;
  margin: 4rem;
}

.product-image img{
  max-width: 100%;
  height: auto;
  border-radius: 6px;
  margin: 4rem;
}


/* Knapper*/
.btn{
  background-color: #7A1E2E;
color: #F3ECE3;
border: none;
padding: 0.9rem 1.8rem;
border-radius: 8px;
cursor: pointer;
font-weight: 600;
align-self: flex-start;
}

.btn:hover{
  background-color: #5e1f1f;
}






